#!/usr/bin/env bash
DEPENDECIES="/tmp/dependecies.lst"
echo > $DEPENDECIES
echo "`date`: {{ organisation }} {{ project }} Prepare run."
mkdir ~/.ssh >/dev/null 2>&1
chmod 700 ~/.ssh
cp /etc/scldistro ~/.ssh/id_rsa
chmod 600 ~/.ssh/id_rsa
touch /root/rpmbuild/SOURCES/README
touch /root/rpmbuild/SOURCES/LICENSE

# Prep the reposerver
ssh repos.pip2scl.dk mkdir /usr/share/nginx/html/RPMS/x86_64 >/dev/null 2>&1


#META package
echo "`date`: {{ organisation }} {{ project }} Build the metapackage."

cd  >/dev/null 2>&1
echo "`date`: {{ organisation }} {{ project }} install the metapackage runtime."
cd 
rpm -qa |grep "{{ organisation }}-{{ project }}-runtime-{{ scl_version }}-{{ scl_release }}.el8.x86_64" >/dev/null 2>&1
if [[ $? == 0  ]];
then
  echo "`date`: {{ organisation }} {{ project }} metapackage runtime already installed."
else

  rpm -i  /root/rpmbuild/RPMS/x86_64/{{ organisation }}-{{ project }}-runtime-{{ scl_version }}-{{ scl_release }}.el8.x86_64.rpm
  if [[ $? == 0 ]];
  then
    echo "`date`: {{ organisation }} {{ project }} SCL metapackage installed ok"
    scp /root/rpmbuild/RPMS/x86_64/{{ organisation }}-{{ project }}-runtime-{{ scl_version }}-{{ scl_release }}.el8.x86_64.rpm repos.pip2scl.dk:/usr/share/nginx/RPMS/x86_64/
    ssh root@repos.pip2scl.dk sudo createrepo /usr/share/nginx/html/RPMS
  else
    echo "`date`: {{ organisation }} {{ project }} SCL metapackage install failed"
    exit 1
  fi
fi


pip3 install --upgrade pip >/dev/null 2>&1
pip3 install spec2scl >/dev/null 2>&1

echo > /tmp/excluded.lst

cat  /tmp/excluded.lst

ssh root@repos.pip2scl.dk yum install -y createrepo
ssh root@repos.pip2scl.dk createrepo /usr/share/nginx/html/RPMS




cd /tmp/{{project}}-{{ scl_version }}
if [[ $? != 0 ]];
then  
  echo "Target dir not found"
  exit 200
fi

pip install wheel
python3 setup.py bdist_rpm --spec-only
spec2scl dist/{{ project }}.spec > dist/{{ project }}.scl.spec.pre

awk '/record=INSTALLED_FILES/ { print; print "sed -i \"'s#^#/opt/{{ organisation }}/{{organisation}}-{{ project }}/root#'\" INSTALLED_FILES " ; next }1' dist/{{ project }}.scl.spec.pre  > dist/{{ project }}.scl.spec.pre.1
cat dist/{{ project }}.scl.spec.pre.1 | sed 's#root=$RPM_BUILD_ROOT#root=$RPM_BUILD_ROOT/opt/{{ organisation }}/{{ organisation }}-{{ project }}/root #' > dist/{{ project }}.scl.spec.pre.2
cat dist/{{ project }}.scl.spec.pre.2 | sed "s#Source0:#Source0: http://repos.pip2scl.dk/SOURCES/{{ organisation }}.{{ project }}.{{ version }}.tar.gz\nDELETELINE#"  |grep -v "^DELETELINE" > dist/{{ project }}.scl.spec.pre.3
echo "`date`: {{ organisation }} {{ project }} Building script for {{ project }} - {{ version }}"
cat dist/{{ project }}.scl.spec.pre.3 | sed "s#setup -n #setup -n {{ version  }}\nDELETELINE#" |grep -v "^DELETELINE" > /root/rpmbuild/SPECS/{{ organisation }}.{{ project }}.{{ version }}.scl.spec.prereq

MYPWD=`pwd | rev | awk -F'/' '{ print $1 }'|rev `
cd ..
tar czvf /root/rpmbuild/SOURCES/{{ organisation }}.{{ project }}.{{ version }}.tar.gz $MYPWD/
scp /root/rpmbuild/SOURCES/{{ organisation }}.{{ project }}.{{ version }}.tar.gz root@repos.pip2scl.dk:/usr/share/nginx/html/SOURCES

for DEP in `cat $DEPENDECIES`
do
  MYNAME=`echo $DEP|awk -F';' '{ print $1 }'`
  MYVER=`echo $DEP|awk -F';' '{ print $2 }'`
  awk '/Group:/ { print; print "Requires: {{ organisation}}-{{ project}}-MYNAMEEQMYVER" ; next }1' /root/rpmbuild/SPECS/{{ organisation }}.{{ project }}.{{ version }}.scl.spec.prereq > /root/rpmbuild/SPECS/{{ organisation }}.{{ project }}.{{ version }}.scl.spec.prereq.new 
  sed -i "s/MYNAMEEQMYVER/${MYNAME} = ${MYVER}/" /root/rpmbuild/SPECS/{{ organisation }}.{{ project }}.{{ version }}.scl.spec.prereq.new 
  mv /root/rpmbuild/SPECS/{{ organisation }}.{{ project }}.{{ version }}.scl.spec.prereq.new /root/rpmbuild/SPECS/{{ organisation }}.{{ project }}.{{ version }}.scl.spec.prereq
done

mv /root/rpmbuild/SPECS/{{ organisation }}.{{ project }}.{{ version }}.scl.spec.prereq /root/rpmbuild/SPECS/{{ organisation }}.{{ project }}.{{ version }}.scl.spec
scp /root/rpmbuild/SPECS/{{ organisation }}.{{ project }}.{{ version }}.scl.spec root@repos.pip2scl.dk:/usr/share/nginx/html/SPECS >/dev/null 2>&1


echo "`date`: {{ organisation }} {{ project }} The end"